1.	Write a Python Program to Find the Factorial of a Number?

In [1]:
def factorial(n):
    """ This function find out the factorial of given number
    :param n: INT,  positive integer
    :return : factorial of given number
    """
    if n<0:
        print('no factorial exists for -ve numbers')
    elif n == 1:
        return n
    elif n ==0:
        return 1
    else:
        return n*factorial(n-1)
    
n = int(input('enter a number to find factorial: '))
factorial(n)

enter a number to find factorial: 7

5040

2.	Write a Python Program to Display the multiplication Table?

In [2]:
def mul_table(n, length):
    """
    this function takes any number of lists and concatnates them into single list
    :param n: INT 
    :param length: INT
    :return : prints the the mutliplication upto given length """
    for i in range(1,length+1):
        print(f"{n}*{i}={n*i}")

n = int(input('enter a number for mul table: '))
length = int(input('enter a number for length of mul table: '))
mul_table(n,length)

enter a number for mul table: 9
enter a number for length of mul table: 10
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

3.	Write a Python Program to Print the Fibonacci sequence?

In [3]:
def fibo(n):
    """ This function prints the fibonanci series up to given length
    :param n: INT , lenth of fibonanci
    :return :None
    """
    a,b = 1,1
    if n < 1:
        print("No elements exits")
    elif n ==1:
        print(a)
    elif n == 2:
        print(a,b)
    else:
        print(a,end ='\t')
        print(b,end ='\t')
        for i in range(2,n):
            print(a+b, end = '\t')
            a, b = b, a+b

n = int(input('enter a number: '))
fibo(n)

enter a number: 5
1	1	2	3	5

4.	Write a Python Program to Check Armstrong Number?

In [4]:
def check_arm(n):
    """ This function checks the given number is armstrong number or not
    :param n: INT 
    :return :bool
    """
    if n ==0:
        return True
    count = 0
    digit = n % 10
    for i in str(n):
        count = count + int(i)**digit
    return n == count

n = int(input('enter a number: '))
check_arm(n)

enter a number: 153

True

5.	Write a Python Program to Find Armstrong Number in an Interval?

In [5]:
def arms(a,b):
    for i in range(a,b):
        if check_arm(i) == True:
            print(i, end= '\t')
a = int(input('enter strating number: '))
b = int(input('enter ending number: '))
arms(a,b)

enter strating number: 0
enter ending number: 10000
0	1	153	1634	9474

6.	Write a Python Program to Find the Sum of Natural Numbers

In [6]:
def sum_of_naturals(n):
    """ This function calculates the first n natural numbers
    :param n: INT
    :return :float 
    """
    return n*(n+1)/2
n = int(input('enter n value: '))
sum_of_naturals(n)

enter n value: 14

105.0