1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
f = open('test.txt','w')
f.write(test1)
f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
f = open('test.txt','r')
test2 = f.read()
test2

'This is a test of the emergency text system'

there is no difference in test1 and test2

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv
rows = [['title', 'author', 'year'],
       ['The Weirdstone of Brisingamen','Alan Garner',1960],
       ['Perdido Street Station','China Miéville',2000],
       ['Thud!',"Terry Pratchett",2005],
       ['The Spellman Files','Lisa Lutz',2007],
        ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w', newline = '') as f:
    writer = csv.writer(f)
    writer.writerows(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute('create table books(title TEXT, author TEXT, year INTEGER)')

5. Read books.csv and insert its data into the book table.

In [12]:
ins_str ='insert into books values(?,?,?)'
with open ('books.csv','r') as infile:
    books = csv.DictReader (infile)
    for book in books:
        cursor.execute (ins_str, (book ['title'], book ['author'], book ['year']))
db.commit()

In [13]:
cursor.execute('select * from books')
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

6. Select and print the title column from the book table in alphabetical order.

In [17]:
cursor.execute('select title from books ORDER BY title ASC')
cursor.fetchall()

[('Perdido Street Station',),
 ('Perdido Street Station',),
 ('Small Gods',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [31]:
cursor.execute('select * from books ORDER BY year ASC')
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

In [33]:
db.close()

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [34]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

10. Increment the count field of test and print it.